@import 'src/util/index';

.elMenuItemStyle {
  position : relative;
}

.elMenuItemStyle:hover {
  top        : 2px;
  box-shadow : 3px 3px 5px #b7babd;
}

.elMenuItemStyle:active {
  top : 3px;
}

.menuIcon {
  width  : 15px;
  height : 15px;
}

.iconText {
  text-align   : center;
  padding-left : 20px;
}

.iconItem {
  display        : flex;
  flex-direction : row;
  text-align     : center;
}

.el-col {
  border-radius : 14px;
}

.grid-content {
  border-radius  : 14px;
  width          : 182px;
  height         : 244px;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  //position: relative;
}

//.grid-content:hover {
//  top: 2px;
//}
//
//.grid-content:active {
//  top: 4px
//}

.el-row {
  width : 100%;
}

.el-col {
  border-radius  : 14px;
  display        : flex;
  flex-direction : column;
  align-items    : center;
}

.grid-content {
  border-radius  : 14px;
  width          : 180px;
  height         : 240px;
  display        : flex;
  flex-direction : column;
  align-items    : center;
}

.el-row {
  width : 100%
}

.emptyDiv {
  position       : absolute;
  left           : 50%;
  top            : 50%;
  margin-top     : -50px;
  display        : flex;
  flex-direction : column;
  align-items    : center;
}

.emptyImg {
  width  : 10vh;
  height : 10vh;
}

.emptyText {
  margin-top : -2px;
}

.sub-menu {
  width      : 200px;
  height     : 100%;
  margin     : 0 8px;
  box-shadow : 0 0 5px 2px #b7babd;
  box-sizing : border-box;
}
